body {
    box-sizing: border-box;
    margin: 0;
}

main {
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.5em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 1.5em; 
    background-color: transparent;
    z-index: 10;
    position: fixed;
    top: 0;
}

#primary-navigation ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0.5em;
    margin: 0;
}

#primary-navigation ul li {
    text-align: center;
    padding: 0.5em;
}


#primary-navigation ul li a {
    font-family: Comfortaa, sans-serif;
    font-size: larger;
    text-decoration: none;
    color: white;
    /* margin: 0.5em; */
    padding: 0.5em;
    transition: color 0.4s;
}

#primary-navigation ul li a:hover {
    color: rgb(116, 233, 217);
}

#secondary-navigation {
    display: none;
}

/* Container */

.item-container {
    width: 85%;
    text-align: center;
}


/* Navigation Bar */
nav {
    transition: background-color 0.5s, padding 0.5s;
}

#logo {
    width: 400px; /* have to unset custom height here ----------------- */
    height: auto;
    padding: 0.2em 1em;
    
}

nav.sticky {
    background-color: rgba(15, 15, 15, 0.6);
    padding: 0.5em;
    padding-bottom: 0.5em;
}


/* Landing Page */

#instagram-logo {
    width: 28px;
    height: auto;
    margin-right: 0.1em;
}

#instagram-handle, #slogan {
    font-family: Lato;
    font-weight: 100;
    /* flex-basis: 100%; */
}

#instagram-handle:hover {
    color: pink;
    transition: color 0.6s;
}

#instagram-handle {
    font-size: 3em;
    text-decoration: none;
    padding: 0.25em;
    color: lightblue;
}

#slogan {
    font-size: 1.75em;
    color: white;
    margin: 0 auto;
}


/* Gallery Section */

#main-content {
    /* height: 100vh; */
    background-color: rgba(134, 134, 134, 0.1);
    margin: 1.5em;
}

.main-content-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    padding: 2em;
    
}

#left {
    /* display: inline-block; */
    flex-basis: 700px;
    flex-grow: 4;
    flex-shrink: 1;
    margin: 1em;


    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.about-text {
    padding: 3em;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    /* background-color: rgba(199, 199, 199, 0.3); */
    background-color: white;
}

.about-text p {
    font-family: Lato;
    font-weight: 300;
    font-size: 17px;
    /* font-weight: 400; */
}

#right {
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 2;
    margin: 1em;
    min-width: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#gallery {
    /* margin: 0; */
    background-color: rgb(10, 10, 10);
    display: inline-block;
    padding: 2em;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    /* flex-shrink: 1; */
}

.faq-text {
    /* flex-basis: 40%; */
    background-color: white;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    margin-top: 2em;
    padding: 3em;
    font-family: Lato;
    font-weight: 300;
    font-size: 17px;
}

.faq-text h2 {
    padding-bottom: 1em;
}

.bullets {
    font-family: inherit;
    font-weight: inherit;
}


/* Aftercare */

iframe {
    padding: 1em 0;
}

li > span:nth-of-type(1) {
    display: none;
}

#aftercare {
    background-color: white;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    margin-top: 2em;
    padding: 3em;
    font-family: Lato;
    font-weight: 300;
    font-size: 17px;

    flex-grow: 1;
}

#aftercare h2 {
    padding-bottom: 0.5em;
}

#aftercare ol li::marker {
    font-weight: 400;
    margin: 1em;
}

#aftercare ol li {
    padding: 0.5em 1em;
}

.video-frame {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


/* Contact Form */

textarea {
    resize: none;
}

#contact button {
    background-color: transparent;
    margin: 0.75em;
    padding: 0.5em 2em;
    border: 1px solid black;
    border-radius: 0.5em;
    transition: color 0.4s, background-color 0.4s, box-shadow 0.4s, transform 0.4s; 
}

#contact button:hover {
    color: white;
    background-color: black; 
    box-shadow: 0 2px grey;
    transform: translateY(-3px);
    cursor: pointer;
}

#contact {
    background-image: url("../img/contact.jpg");
    background-size: cover;
    background-position: 50% 40%;
    height: 100vh;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact h2 {
    font-size: 2.25em;
    padding: 0;
}

#contact p {
    font-family: Comfortaa, sans-serif;
}

.contact-form { 
    margin: 0 auto;
    width: 400px;
}

.formInput {
    margin: 0.25rem;
}


/* Footer */

/* footer {
    background-color: rgb(39, 39, 39);
    height: 200px;
    width: 100vw;
} */



@media (max-width: 768px) {
    
    /* Navigation Bar */
    nav {
        justify-content: center;
    }

    #primary-navigation {
        display: none;
    }

    #secondary-navigation {
        display: contents;
    }

    #navbarToggleExternalContent {
        padding-top: 1em;
        justify-content: space-evenly;
        align-items: center;
    }

    nav > button:hover {
        box-shadow: none;
        background-color: transparent;

    }

    .navbar {
        display: contents;
    }

    .navbar-toggler {
        border: none;
        margin: 0;
    }

    .navElements {
        text-align: center;
    }

    .navElements a {
        display: inline-block;
        font-family: Comfortaa, sans-serif;
        font-weight: 400;
        color: white;
        padding: 0.25em;
        padding-top: 0;
        margin: 0.5em;
    }


    /* Font Sizes */

    h2 {
        font-size: 1.75em;
    }

    #instagram-handle {
        font-size: 2.75em;
        text-decoration: none;
        padding: 0.25em;
        color: lightblue;
    }
    
    #slogan {
        font-size: 1.6em;
        color: white;
        margin: 0 auto;
    }

    .about-text p, .faq-text p, .bullets, #aftercare {
        font-size: 16px;
    }

    #contact h2 {
        font-size: 2em;
    }


    /* Layout */
    ol {
        padding: 0 0 0 1.25em;
    }

}

@media (max-width: 570px) {


    #logo {
        width: 300px; /* have to unset custom height here ----------------- */
        height: auto;
        padding: 0.2em 1em;
    }

    .navElements {
        width: 85%;
        margin: 0 auto;
        /* Make the navigation bar stacked */
        /* problem is that with smaller size the bar expands on the side */

        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
    }

    .navElements a {
        /* display: block; */
    }


    /* Text Size, remove padding from sections */
    h2 {
        font-size: 1.5em;
    }

    #instagram-handle {
        font-size: 2.25em;
        text-decoration: none;
        padding: 0.25em;
        color: lightblue;
    }
    
    #slogan {
        font-size: 1.3em;
        color: white;
        margin: 0 auto;
    }

    .about-text p, .faq-text p, .bullets, #aftercare {
        font-size: 15px;
    }

    #contact h2 {
        font-size: 1.75em;
    }

    #contact p {
        font-size: 15px;
    }

    #contact input, #contact textarea {
        font-size: 14px;
        /* width:  */
    }

    #contact button {
        font-size: 0.9em;
        padding: 0.4em 1.6em;
    }

    .contact-form { 
        margin: 0 auto;
        width: 300px;
    }


    /* Layout Changes */
    #main-content {
        /* height: 100vh; */
        background-color: rgba(134, 134, 134, 0.1);
        padding: 0.5em;
        /* margin: 1.5em; */
        margin: 0em;
    }
    
    .main-content-flex {
        padding: 0;
        margin: 0;
    }

    #gallery {
        padding: 1.5em;
    }

    .video-frame { 
        margin: 0 auto;
    }

}

@media (max-width: 500px) {
    li > span:nth-of-type(1) {
        display: contents;
    }

    li > span:nth-of-type(2) {
        display: none;
    }

    iframe {
        display: none;
    }
}
